.hamburgerMenu {
  position: relative;
}

.menuIcon {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menuIcon.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menuIcon.open .bar:nth-child(2) {
  opacity: 0;
}

.menuIcon.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menuContent {
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px; /* Adjust the width as needed */
  height: 100vh; /* Full height of the viewport */
  background-color: #242424;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 999;
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.menuContent.active {
  left: 0;
}

.menuContent ul {
  list-style: none;
  padding: 80px 20px 20px; /* Add padding to avoid overlap with the hamburger icon */
  margin: 0;
}

.menuContent li {
  margin: 15px 0;
}

.menuContent a {
  color: #fff;
  text-decoration: none;
  font-size: clamp(16px, 4vw, 30px);
}