* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height */
}

.topBox {
  background-color: #1b1a1a;
  height: 75px;
  width: 100vw; /* Only the content width */
}

.bottomBox {
  background-color: #1b1a1a; 
  height: 100px; 
  width: 100vw; /* Full viewport width */
  display: flex;
  flex-direction: column; /* Stack vertically */
  gap: 10px; 
  justify-content: flex-end; /* Align content to the bottom */
  align-items: center; /* Center content horizontally */
  padding-bottom: 8px; /* Small spacing from bottom */
}

.bottomText {
  color: #fff; 
  font-size: clamp(12px, 1.5vw, 18px); /* 12px on small screens, 18px on larger*/
  text-align: center;
}

.socialLinks {
  display: flex;
  gap: 15px;
}

.socialIcon {
  font-size: 24px;
  color: #ffffff; /* Change the color as needed */
  transition: color 0.3s ease;
}

.socialIcon:hover {
  color: #1da1f2; /* Change hover color as needed */
}

.content {
  flex-grow: 1; 
}