* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height */
}

.homepagePicture {
  max-height: 58%; /* Limit the height to 50% of the container */
  max-width: 100%; /* Ensure the image doesn't overflow horizontally */
  height: auto; /* Maintain aspect ratio */
  width: auto; /* Maintain aspect ratio */
  object-fit: contain; 
}

.content {
  flex-grow: 1; 
  width: 100vw;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  overflow-y: auto;
  padding-top: 5px;
}

.join-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.join-image {
  padding-top: 50px;  
  max-width: 10%;
  height: auto;
}

.join-text {
  font-size: calc(1rem + 1.5vw); /* Responsive font size */
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px; 
  text-align: center;
  transition: color 0.3s ease; /* Smooth transition */
}

.join-link:hover {
  color: #555454; /* Darker shade of the color on hover */
}

.cybersecurity-news {
  margin-top: auto; /* Pushes the cybersecurity section to the bottom */
  padding: 20px;
  background-color: #111; /* Dark background for a futuristic look */
  color: white;
}

