.topBox {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: black;
  height: 75px;
  width: 100vw; /* Only the content width */
  padding-top: 5px;
  flex-shrink: 0; /* Prevent shrinking */
}

.logo {
  height: auto; 
  width: auto; /* Adjust based on the image size */
  max-height: 100%;
}