.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
  }

.title {
    font-size: 60px;
    text-align: center;
  }

.president{
    padding-top: 30px;
}


.year{
    font-size: 40px;
    text-align: center;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .picture {
    width: 300px;
    height: 300px;
    /* border-radius: 50%;    For rectangle images but I currently only have circles */
    object-fit: cover;    
    /* border: 2px solid #333;  */
  }

 .name{
    text-align: center;
    font-size: 40px;
 }

 .bio{
    padding-top: 30px;
    text-align: justify;
    font-size: 30px;
 }

 .bioContainer{
    width: 800px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;   
    overflow: auto;           
    margin: 20px auto; 
 }