.container {
    display: flex;
    width: 70%;
    justify-content: space-around;
    flex-direction: column;
    min-height: 100vh;  
  }

.title {
    font-size: 60px;
    text-align: center;
  }

.president span{
    padding-top: 30px;
    color: hsl(0 0% 100% / 0.2);
    background-clip: text;
    background-image: linear-gradient(90deg,red,blue);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    animation: scroll-reveal linear forwards;
    animation-timeline: view(y);
}

.president h2 span {
  animation-range: cover 20vh;
  animation-range-end: cover 30vh;
}

.president p span {
  animation-range: cover 22.5vh;
  animation-range-end: cover 50vh;
}

@keyframes scroll-reveal {
  to{ 
    background-size: 100% 100%;
  }
}

.year{
    font-size: 40px;
    text-align: center;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .picture {
    width: 300px;
    height: 300px;
    /* border-radius: 50%;    For rectangle images but I currently only have circles */
    object-fit: cover;    
    /* border: 2px solid #333;  */
  }

 .name{
    text-align: center;
    font-size: 40px;
 }

 .bio{
    text-align: justify;
    font-size: 30px;
 }

 .bioContainer{
    width: 800px;
    height: 300px;
    box-sizing: border-box;   
    overflow: clip;           
    margin: 20px auto; 
 }