.title {
    margin-top: 20px;
    font-size: 60px;
    text-align: center;
  }

  .content {
    padding-top: 20px; 
}

.ctficon {
    width: 250px;
    height: 250px;
    object-fit: cover;    
  }

  .ctflisting {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px; 
}

  
.ctfnumber{
    font-size: 55px;
    padding-left: 50px;
}

.ctftext {
    margin-top: 10px;
    text-align: center;
  }

.ctfname {
    font-size: 45px;
    text-align: center;
  }

.ctfdesc{
    font-size: 40px;
    text-align: justify;
}

.desccontainer{
    width: 800px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;   
    overflow: auto;           
    margin: 20px auto; 
}

